/*Specific (4,,0) Import Specific */
#section1 #div1 #h3 #span {
    color: chartreuse;
}
/*Specific (2,0,0)*/
#section1 #span {
    color:chocolate;
}
/*Specific (1,3,0)*/
#section1 .info .infoH3 .importWordS {
    color: rgb(0, 128, 117);
}
/*Specific (1,2,1)*/
section .info .infoH3 #span {
    color: blue;
}
/*Specific (0,0,4)*/
section div h3 span {
    color: red ;
}